@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
}

.faq-container {
  position: relative;
  display: flex;
  width: min(920px, 90%);
  height: auto;
  background-color: white;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: -48em -24.5em;
  border-radius: 2em;
  font-size: 12px;
}
.faq-container::before {
  content: url(../images/illustration-box-desktop.svg);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -25%);
  z-index: 1000;
}
@media (max-width: 768px) {
  .faq-container {
    width: min(450px, 90%);
    flex-direction: column;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-size: 70%;
    background-position: top center;
    margin: 120px 0 30px;
    padding: 10em 1.5em 3em;
  }
  .faq-container::before {
    content: url(../images/illustration-woman-online-mobile.svg);
    position: absolute;
    width: 70%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

.faq-container .faq-illustration {
  display: flex;
  align-items: center;
  padding: 6.5em 0;
  overflow: hidden;
}
.faq-container .faq-illustration > object {
  position: relative;
  transform: translateX(-6.8em);
}
@media (max-width: 768px) {
  .faq-container .faq-illustration {
    padding: 0;
  }
  .faq-container .faq-illustration > object {
    display: none;
  }
}

.faq-container .faq-content {
  width: min(350px, 90%);
  padding: 6em 1.5em 0 0;
}
.faq-container .faq-content h1.faq-heading {
  margin-bottom: 0.3em;
  color: #1d1e35;
  font-size: 2.6em;
}
@media (max-width: 768px) {
  .faq-container .faq-content {
    margin: auto;
    padding: 0;
  }
  .faq-container .faq-content h1.faq-heading {
    text-align: center;
  }
}

.accordion .accordion-item {
  border-bottom: 1px solid #e7e7e9;
}
.accordion .accordion-item .accordion-header > button.accordion-button {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  color: #4a4b5e;
  font-size: 1.2em;
  transition: all 0.3s ease;
  cursor: pointer;
}
.accordion .accordion-item .accordion-header > button.accordion-button::after {
  content: url(../images/icon-arrow-down.svg);
  margin-right: 1em;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .accordion .accordion-item .accordion-header > button.accordion-button::after {
    margin-right: 0;
  }
}
.accordion .accordion-item .accordion-header > button.accordion-button:hover, .accordion .accordion-item .accordion-header > button.accordion-button:focus {
  color: #f47c57;
}
.accordion .accordion-item .accordion-header > button.accordion-button.active {
  color: #1d1e35;
  font-weight: 700;
}
.accordion .accordion-item .accordion-header > button.accordion-button.active::after {
  transform: rotate(180deg);
}
.accordion .accordion-item .accordion-content {
  overflow: hidden;
  max-height: 0em;
  transition: all 0.3s ease;
}
.accordion .accordion-item .accordion-content p.content-text {
  margin-bottom: 1em;
  color: #787887;
}

.attribution {
  position: absolute;
  bottom: 5px;
  text-align: center;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: white;
}

/*# sourceMappingURL=main.css.map */
